.span9.offset1
  .post.clearfix
    .span9.img-polaroid.post-img
      .callbacks_container
        img(src='img/map/'+map.imageDirectory+'/'+map.imageDirectory+'.jpg', alt=map.name)
    .span9.post-content.clearfix
      .span4
        if map.imageDirectory
          #container.clearfix.isotope(isotope)
            - for (var i=1; i<=(map.numOfImages || 6); ++i) {
            - var image = 'img/map/' + map.imageDirectory + '/' + map.imageDirectory + '_' + i + '.jpg'
              .element
                .thumbs
                  a.picture(ng-href='')
                    img.img-polaroid(alt='content', src=image, href=image)
            - }
            //- .element.women
              .thumbs
                a.picture(ng-href='')
                  img.img-polaroid(alt='content', src='img/medium/2.jpg')
                  span
                    i.icon-link
          if map.videos
            each video in map.videos
              iframe.youtube(src= video, frameborder="0", allowfullscreen)
      .span4.scorpio-map-full-description
        h1= map.name
        each paragraph in map.description
          br
          p= paragraph
      .span8.scorpio-spacer
    .span9.offset1.scorpio-spacer
script
  $('img.img-polaroid').colorbox({rel:'gal', fixed:'true'});
